piLog.sh
test.sh
test
test/*
configs/*
configs
config
.gitignore
video_tmp.264
audio_tmp.mp2
input_stream_segments/*
processed_stream_segments/*
*jpg
*264
*aac
*log
*avi
*bitrate.shark
*snippets.sh
.config
concat.*
app
app.o
*.ts
*.mp4
